h1{
    text-align: center;
    font-size: xx-large;
    color: red;
}
h2{
    text-align: center;
    font-size: xx-large;
    color: palevioletred;
}
p{
    text-align: justify;
}
h2{
    text-align: center;
}